@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

                /* CONFIG DA PAGINA */
* {
    margin: 0px;
    padding: 0px;
    font-family: Rubik, sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    width: 98.1vw;
    height: 100vh;
    background-color: #020126;
}

main {
    width: 98.1vw;
    height: 100vh;
}

/* CONFIG DA NAV */

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    padding: 15px;
}

li {
    display: inline-block;
    margin: 20px;
    text-decoration: none;
    color: white;
}

li:hover {
    color: black;
}

.anchor-sign {
    border: #f8cf2c solid 2px;
    border-radius: 10px;
    padding: 10px;
}

.anchor-sign:hover {
    border: #f3a42d solid 2px;
    color: black;
}

/* Edição da LOGO (Lony) na nav bar */
h1.logo-1 {
    display:flex; align-items: center; justify-content: center;
    width: 15%; height:100%;
    cursor: pointer;
    font-size:4vh;
    margin-left: 50px;
}

.yellow-span{
    color: #f8cf2c;
    display: flex; justify-content: center; align-items: center;
    height:100%;
}

.orange-span{
    color:#ff7a00;
    display: flex; justify-content: center; align-items: center;
    height:100%;
}

/* CONFIG MAIN-PRINCIPAL */

.div-main {
    width: 100vw;
    height: 100vh;
    background-color: blueviolet;
    background: url(img/main-img.jpg);
    opacity : 0.8;
    background-size: cover;
}


.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    color: white;
}

.main-content {
    text-align: center;
    margin-top: 25%;
}

.h1-main-content {
    font-size: 6vw;
}

.p-main-content {
    text-align: center;
    margin-top: 25px;
    padding-top: 10px;
    border-top: 0.4px solid #f3a42d;
}

.button-main-content {
    background: none;
    color: white;
    align-self: center;
    padding: 10px;
    border: 2px solid black;
    border-radius: 10px;
    text-align: center;
    margin-top: 15px;
    cursor:pointer;
}

.button-main-content:hover {
    background-color: black;
}

/* CONFIG SECTION 1 */
.main-section1 {
    width: 100vw;
    height: 50vh;
    background-color: #0e0e0e;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: white;
    gap: 20%;
}

.div-main-section1 {
    text-align: center;
}

.q-sec1 {
    padding-top: 15px;
}

.h1-main-section1 {
    width: 30vw;
    font-size: 22px;
}

.img-section1 {
    border-radius: 100%;
}

/* CONFIG SECTION 2 */
.main-section2 {
    width: 100vw;
    height: 60vh;
    color: white;
    background-color: blueviolet;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10%;
}

.dive-sec2 {
    border-radius: 100%;
}

.img-sec2 {
    max-height: 50vh;
    max-width: 50vh;
    width: 19vw;
    border-radius: 1000%;
}

.divd-sec2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-height: 50%;
}

.h1-sec2 {
    font-size: 32px;
}

.p-sec2 {
    width: 50vw;
    text-align: center;
    margin-top: 15px;
}

.button-sec2 {
    background: none;
    color: white;
    align-self: center;
    padding: 10px;
    border: 2px solid black;
    border-radius: 10px;
    text-align: center;
    margin-top: 15px;
    cursor:pointer;
}

.button-sec2:hover {
    background-color: #f3a42d;
    border: 2px solid #f8cf2c;
}

/* SECTION3  */


.main-section3 {
    box-sizing: border-box;
    min-height: 80vh;
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

.h1-main-section3 {
    font-size: 30px;
    margin: 10px 0rem;
    border-top: 0.4px solid #f8cf2c;
    padding-top: 22px;
}

.faq {
    max-width: 700px;
    margin-top: 2rem;
    padding-bottom: 1rem;
    border-bottom: 2px solid #fff;
    cursor: pointer;
}

.question {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.question h3 {
    font-size: 24px;
}

.answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.9s ease;
}

.answer p {
    padding-top: 1rem;
    line-height: 1.6;
    font-size: 1.0rem;
}

.faq.active .answer {
    max-height: 300px;
    animation: fade 1s ease-in-out;
}
.faq.active .material-symbols-outlined {
    transform: rotate(180deg);
}

.material-symbols-outlined {
    transition: transform .5 ease-in;
}

@keyframes fade {
    from {
        opacity: 0;
        transform: translate(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0px);
    }

}

/* CONTATE NOS */
.ccontainer {
    max-width: 80%;
    min-width: 320px;
    margin: 50px auto;
    color: white;
}

.contact-box {
    background-color: #fff;
    display: flex;
    border-radius: 10px;
}
.contact-left {
    flex-basis: 60%;
    padding: 40px 60px;
    color: black;
}

.contact-right {
    flex-basis: 40%;
    padding: 40px;
    background-color: #1c00b5;
    color: white;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

.h1-cont {
    margin: auto;
    margin-bottom: -25px;
    text-align: center;
    width: 20%;
    padding: 15px;
    font-size: 30px;
    color: white;
    border-top: 0.4px solid #f8cf2c;
}

.ccontainer > p {
    margin-bottom: 40px;
    text-align: center;
}

.input-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.input-row .input-group {
    flex-basis: 45%;
}

input {
    width: 100%;
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
    padding-bottom: 5px;
}

textarea {
    width: 100%;
    border: 1px solid #ccc;
    outline: none;
    padding: 10px;
    box-sizing: border-box;
}

label {
    margin-bottom: 6px; display: block; color: #1c00b5;
}

.botao-enviar {
    background-color: #1c00b5;
    width: 100px;
    border: none;
    outline: none;
    color: #fff;
    height: 35px;
    border-radius: 30px;
    margin-top: 20px;
    box-shadow: 0px 5px 15px 0px #3d3a94;
    cursor: pointer;
}

.botao-enviar:hover {
    background-color: #483a9b;
    transition: 1s;
}

.contact-left h3 {
    color: #1c00b5;
    font-weight: 600;
    margin-bottom: 30px;
}
.contact-left h3 {
    font-weight: 200;
    margin-bottom: 30px;
}

tr td:first-child {
    padding-right: 20px;
}

tr td {
    padding-top: 20px;
}

.finish {
    height: 5%;
}